.btn {
  text-align: center;
}
.btn-color__blue {
  background-color: var(--blue);
  color: white;
  border: 0.5px solid var(--blue);
}
.btn-size__lg {
  padding: 15px 20px;
  border-radius: 5px;
  font-size: var(--font-lg);
}
.btn-name__goToDashboard {
  width: 250px;
  margin-top: 45px;
}
.btn-name__goToDashboard i {
  margin-left: 8px;
}
.btn-name__goToDashboard:hover {
  animation: btnMouseHover 0.1s ease-in-out forwards;
}
.text-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-lg);
  font-weight: var(--font-bold);
  color: var(--blue);
}
.text-btn i {
  margin-left: 8px;
}
.text-btn a:hover {
  border-bottom: 2px solid var(--blue);
}

@keyframes btnMouseHover {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.8;
  }
}
