.main-intro {
  text-align: center;
}
.main-intro p:first-child,
.main-intro p:nth-child(2) {
  font-size: var(--font-3x);
  font-weight: var(--font-bold);
}
.main-intro p:nth-child(2) {
  color: var(--blue);
  margin-top: 4px;
}
.main-intro p:last-child {
  color: var(--gray-font);
  font-size: var(--font-lg);
  margin-top: 30px;
  line-height: 30px;
}
